@import "~Root/styles/colors.less";

:local(.rodal) {
  div {
    &:nth-child(2) {
      background: @charocal-gray;
      padding: 0;
      border-radius: 4px;
      border-top: solid 4px #c94850;
    }
  }
}
