@import 'fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Roboto;
  background-color: #16161a;
}

button, input, textarea {
  font-family: Roboto;
  border: none;
}

button, input[type="submit"] {
  cursor: pointer;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

input[type=text] {
  font-size: 14px;
}

.rc-dropdown-menu-item-selected {
  background: #343844 !important;
}

.rc-dropdown-menu > .rc-dropdown-menu-item-selected:after {
 display: none !important;
}

.rc-slider-tooltip-inner {
    background: transparent !important;
    box-shadow: none !important;
    transition: 0.3s;
    font-size: 11px;
    font-weight: 400;
}
