@import "~Root/styles/colors.less";

:local(.container) {
  position: relative;

  img {
    cursor: pointer;
  }
}

:local(.copied) {
  position: absolute;
  opacity: 0;
  top: -21px;
  right: -24px;
  transition: opacity 0.3s;
  background: @charocal-gray-1;
  width: 60px;
  text-align: center;
  border-radius: 4px;
  font-size: 13px;
  color: @gray-1;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.36);
}

:local(.show) {
  opacity: 1;
}
