@import "~Root/styles/colors.less";

:local(.form) {
  display: flex;
  flex-direction: column;
  width: 452px;
  height: 586px;
  border-radius: 5px;
  background: @charocal-gray;
  padding: 0px 15px;

  li {
    border-bottom: 1px solid #46444d;
    height: 67px;
    display: flex;
    align-items: center;
    font-size: 16px;

    &:last-child {
      border-bottom: none;
    }
  }
}

:local(.rows) {
  display: flex;
  justify-content: space-between;
}

:local(.title) {
  color: @gray-1;

  li {
    width: 136px;
  }
}

:local(.info) {
  color: #fff;
  text-align: right;

  li {
    justify-content: flex-end;

    img {
      margin-left: 13px;
    }
  }
}

:local(.currencyIcon) {
  width: 10%;
}

:local(.desceription) {
  width: 420px;
  height: 98px;
  border-radius: 4px;
  background: #343844;
  font-size: 14px;
  color: @gray-1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
}

:local(.acceptButton) {
  width: 106px;
  height: 32px;
  border-radius: 4px;
  background: @purple;
  color: #fff;
  font-size: 16px;
  margin-top: 22px;

  &:hover {
    background: darken(@purple, 5%);
  }

  img {
    margin-right: 5.5px;
    vertical-align: middle;
  }
}

@media (min-width: 120px) and (max-width: 580px) {
:local(.form) {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  }

  :local(.title) {
    li {
      width: 110px;
      font-size: 14px;
    }
  }

  :local(.info) {
    color: #fff;
    width: 150px;

    li {
      font-size: 12px;
      justify-content: flex-start;
    }
}

:local(.desceription) {
  width: 100%;
  font-size: 13px;
  }
}
@media (max-width: 768px) and (min-width: 580px) {
  :local(.form) {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    }

    :local(.title) {
      li {
        width: 260px;
    }
  }
:local(.desceription) {
  width: 100%;
  }
}
