@import '~Root/styles/colors.less';

:local(.myMenuContent) {

  a {
    color: @gray-1;
    height: 60px;
    border-bottom: 1px solid #46444d;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: #16161a;
      color: @purple !important;
    }
  }
}
